.hobby-group {
    margin-left: 270px;
}

#buyukcontainer{
    background-color: #0a152f;
}

#iccontainer{
    margin-top: 55px;
}

#solkolon{
    background-color: #01040b;
}

img{
    width: 25px;
    height: 25px;
}

#sagkolon{
    background-color: rgb(100, 181, 239);
}