.container-1{
    background-color: #01070d;
}

h3{
    color: rgb(255, 234, 0);
}

#col-info{
   background-color: rgb(241, 255, 172);
}

#col-info2{
    background-color: rgb(214, 220, 174);
 }

 #col-info3{
    background-color: rgb(226, 226, 118);
 }

 #col-info4{
    background-color: rgb(205, 209, 99);
 }
 